<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Afficher les étudiants</title>
    <!-- Ajout du lien vers le style Bootstrap pour améliorer l'apparence du tableau -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/png">
</head>


<body>
    <div class="container mt-4">
        

        {% include 'nav_template.html' %}

        <p><code>&#x1F6C8;</code> Triez la liste des prescriptions en cliquant sur les en-têtes de colonnes</p>
        <a href="{{ url_for('contenu_table') }}">Retour</a>
        <h1>Liste des prescriptions</h1>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th><a href="{{ url_for('afficher_prescription', order_by='id_prescription') }}">id_prescription</a></th>
                    <th><a href="{{ url_for('afficher_prescription', order_by='annee') }}">Année</a></th>
                    <th><a href="{{ url_for('afficher_prescription', order_by='id_profession') }}">id_profession</a></th>
                    <th><a href="{{ url_for('afficher_prescription', order_by='departement') }}">Département</a></th>
                    <th><a href="{{ url_for('afficher_prescription', order_by='montant_total_prescription') }}">Montant total prescription</a></th>
                    <th><a href="{{ url_for('afficher_prescription', order_by='montant_moyen_prescription') }}">Montant moyen prescription</a></th>
                </tr>
            </thead>
            <tbody>
                {% for index, row in prescription.iterrows() %}
                    <tr>
                        <td>{{ row['id_prescription'] }}</td>
                        <td>{{ row['annee'] }}</td>
                        <td>{{ row['id_profession'] }}</td>
                        <td>{{ row['departement'] }}</td>
                        <td>{{ row['montant_total_prescription'] }}</td>
                        <td>{{ row['montant_moyen_prescription'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>