<!-- index.html -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'accueil</title>
    <!-- Ajout du lien vers le style Bootstrap pour améliorer l'apparence du tableau -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/png">
</head>

<body>
    <div class="container">
        
        {% include 'nav_template.html' %}
        
        <h1> <B> Bienvenue sur notre site de SaniTech </B> </h1> 
        
        <p> <i> Un site qui vous permet de consulter les données de SaniTech sur les professions de santé libéraux selon vos envies </i></p>
        
        <hr>
        
        <img id="image" src="/static/images/SaniTech_logo2.png" alt="logo assurance-maladie" width="500px" >
        
        <a href="{{ url_for('contenu_table') }}">
            <button id="bouton" onclick= >Liste des tableaux</button>
        </a>
        
        <hr id="barre">

    </div>
    
    <footer>



    </footer>

</body>

</html>
